/*
 * keithbridgesmedia site specific css
 */

/* ==========================================================================
   Layout
   ========================================================================== */
html {
	background-color: #000000;
}

div#leftnav {
	width: 225px;
	float: left;
}

div#nav_menu  li{
	width: 175px;
	margin-bottom: 12px;
}

div#content {
	clear: right;
}

div#container {
	background-color: #FFFFFF;
	min-height: 400px;
}

div#masthead {
	clear: both;	
}



/* ==========================================================================
   Typeography
   ========================================================================== */
body {
	font-family:Verdana, Geneva, sans-serif;	
}

h1, h2, h3, h4, h5{
	font-family: "myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
}

h4, h5{
	font-weight: 600;
	}

h1{
	font-size: 1.6em;
}
h2{
	font-size: 1.2em;
}
h3{
	font-size: 1.0em;
}
h4{
	font-size: 0.8em;
}
h5{
	font-size: 0.6em;
}

p{
	font-family: "kepler-std-display",serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.0em;
	letter-spacing: 25%;
}

div#nav_menu  li{
	list-style:none;
}

div#nav_menu a {
	font-family: "myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}

/* ==========================================================================
   Special Efects
   ========================================================================== */


/* ==========================================================================
   Other
   ========================================================================== */
