/*
 * keithbridgesmedia site specific css
 */

/* ==========================================================================
   Layout
   ========================================================================== */
div#leftnav {
	width: 150px;
	float: left;
}

div#content {
	clear: right;
}

div#container {
	background-color: #FFFFFF;
	min-height: 400px;
}

div#masthead {
	clear: both;	
}

html {
	background-color: #000000;
}


/* ==========================================================================
   Typeography
   ========================================================================== */
body {
	font-family:Verdana, Geneva, sans-serif;	
}

h1 {
	font-family: "poetica-std",sans-serif;
	font-style: normal;
	font-weight: 400;
}
div#nav_menu a {
		
}

/* ==========================================================================
   Special Efects
   ========================================================================== */


/* ==========================================================================
   Other
   ========================================================================== */
